<template>
    <div class="container">
        <header>
            <h1>Todo List</h1>
            <div>Outstanding Tasks: {{ outstandingTasksCount }}</div>
            <div>Show Completed: <input type="checkbox" v-model="showCompleted"/></div>
        </header>
        <accounts-u-i-wrapper/>
        <form class="new-task" @submit="handleSubmit" v-if="currentUser">
            <input
                    type="text"
                    v-model="taskText"
                    placeholder="Type to add new tasks"
            />
        </form>

        <ul>
            <task v-for="task in filteredTasks" :task="task" :key="task.id" :user-id="userId"></task>
        </ul>
    </div>
</template>

<script>
    import Task from './ui/Task.vue';
    import { Tasks } from '../api/tasks';
    import AccountsUIWrapper from './ui/AccountsUIWrapper';
    import {Meteor} from 'meteor/meteor';
    import {Tracker} from 'meteor/tracker';

    export default {
        components: { AccountsUIWrapper, Task },
        data () {
            return {
                taskText:      '',
                showCompleted: true,
                currentUser:   null
            };
        },
        created () {
            Tracker.autorun(() => {
                this.currentUser = Meteor.user() ? Meteor.user() : null;
            });
        },
        methods:    {
            handleSubmit (e) {
                e.preventDefault();

                Meteor.call('tasks.insert', this.taskText);

                this.taskText = '';
            }
        },
        computed:   {
            filteredTasks () {
                if (this.showCompleted)
                    return this.tasks;

                return this.tasks.filter(task => !task.checked);
            },
            userId () {
                if (!this.currentUser)
                    return null;

                return this.currentUser._id;
            }
        },
        meteor:     {
            $subscribe: {
                'tasks': []
            },
            tasks () {
                return Tasks.find({}, { sort: { createdAt: -1 } });
            },
            outstandingTasksCount () {
                return Tasks.find({ checked: { $ne: true } }).count();
            }
        }
    }
</script>

<style scoped>
    p {
        font-size: 2em;
        text-align: center;
    }
</style>