<template>
    <blaze-template template="loginButtons"></blaze-template>
</template>

<script>
    import { Template } from 'meteor/templating';

    export default {
        name: "AccountsUIWrapper",
        computed: {
            loginButtons() {
                return Template.loginButtons();
            }
        }
    }
</script>

<style scoped>

</style>