<template>
    <li :class="{checked: task.checked, private: task.private}">
        <input type="checkbox"
               :checked="task.checked"
               @change="toggleChecked"/>
        <span class="text">
          <strong>{{task.username}}</strong>: {{task.text}}
        </span>
        <button v-if="task.owner === userId" class="toggle-private" @click="togglePrivate">{{ task.private ? 'Private' : 'Public '}}</button>
        <button class="delete" @click="onClickDelete">&times;</button>

    </li>
</template>

<script>
    import { Meteor } from 'meteor/meteor';

    export default {
        name:    "Task",
        props:   {
            task: {
                required: true
            },
            userId: {
                required: false
            }
        },
        methods: {
            onClickDelete () {
                Meteor.call('tasks.remove', this.task._id);
            },
            toggleChecked () {
                Meteor.call('tasks.setChecked', this.task._id, !this.task.checked);
            },
            togglePrivate() {
                Meteor.call('tasks.setPrivate', this.task._id, ! this.task.private);
            }
        }
    }
</script>

<style scoped>

</style>